.App {
  text-align: center;
}

.App-title {
  color: white;
}

.App-logo {
  /* animation: App-logo-spin infinite 0.15s linear; */
  height: 80px;
}

.App-logo:hover {
  animation: App-logo-spin 0.15s linear infinite;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  /* height: 250px; */
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes run-anim {
  from{ transform: none}
  to { transform: translateX(1000px)}
}

.colorTest {
  display: inline-block;
  width: 150px;
  height: 200px;
}

.bgBlack {
  background-color: #333333;
}
.bgLightGray {
  background-color: #D6D6DE;
}
.bgDarkGray {
  background-color: #656565;
}
.bgBlue {
  background-color: #46BCDE;
}
.bgGreen {
  background-color: #52D273;
}
.bgRed {
  background-color: #E94F64;
}
.bgOrange {
  background-color: #E57254;
}
.bgYellow {
  background-color: #E5C454;
}

.bg1{
  background-color: #104F55;
}
.bg2{
  background-color: #6B6D76;
}
.bg3{
  background-color: #423E37;
}
.bg4{
  background-color: #FF5A5F;
}
.bg5{
  background-color: #FFFFFA;
}